<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK 3</title>
    <link rel="shortcut icon"  type="image/png" href="/images/festemberlogo (2).png">
    <link rel="stylesheet" href="/stylesheets/common.css" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/811fd0718a.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- navbar - normal size -->
    <div class="header">
        <div class="heading">
            <span>Y</span><span>O</span><span>U</span><span>'</span><span>R</span><span>E</span><span>❤</span>
            <span>I</span><span>N</span><span>V</span><span>I</span><span>T</span><span>E</span><span>D</span>
        </div>
        <p class="subheading">Get connected with all your friends and plan parties</p>
      </div>
      
    <div id="navbar" class="topnav">
      <a href="javascript:void(0);" class="left icon" id='responsiveNavClose'onclick="resposiveNavbar()">  <i class="fas fa-times"></i> </a>
      <a class="left" id="home">Home</a>
      <a class="left" id="new">New Invite</a>
      <a class="left" id="invitations">Invitations</a>
      <a class="left" id="events">My Events</a>
      <a class="left" id="attending">Attending</a>
      <a href="javascript:void(0);" class="left icon" id='responsiveNav'onclick="resposiveNavbar()">  <i class="fa fa-bars"></i>  </a>
      <a class="right" id="logout">Login/Register</a>
      <a class="right" id="notif-icon">
        <i class="fas fa-bell" id="notifButton"></i>
        <span id="red-info"></span>
        <span id="notifs">
          <div class="notifications"><span>SOME NOTIFICATION 2asda  sdasd asd sdad asd asdasd awdsdf ghg</span> <i class="fas fa-times closeNotifs"></i></div>
          <div class="notifications"><span>SOME NOTIFICATION 1 </span> <i class="fas fa-times closeNotifs"></i></div>
        </span>
      </a>
    </div>
     
    <div></div>
    <div class="content">
        <!-- all Content goes here -->