<%- include('../partials/header.ejs')  %> 

<style>
  .content {
    padding-left: 10vw;
  }
  li, ul {
    margin: 20px 0px;
  }
</style>
<h1> Instuctions On How To Create a Poster</h1>


<h2>Uses of each side bar</h2>
<li>The <strong>Right Side-Bar</strong> can be used to add new elements to your poster.</li>
<li>The <strong>Left Side-Bar</strong> will contain all the existing elements of your Poster</li>

<h2>Right Side-Bar</h2>
<li>Click on each one of the options to open the sub menu</li>
<li>TEMPLATE - Double click on any of the available template to add it to your poster</li>

<h4><li>TEXT</li></h4>
<ul><ul>↳ Write the required text into the text area</ul></ul>
<ul><ul>↳ Enter the colour you want your text to be. It can be Hex (or) rgb (or) rbga form</ul></ul>
<ul><ul>↳ Enter the size of the font. (P.S- You can resize it later in the canvas)</ul></ul>
<ul><ul>↳ Click Save to create the text element</ul></ul>

<h4><li>IMAGE</li></h4>
<ul><ul>↳ Copy the Image adress of the image you want to add, and paste it in the source input field.</ul></ul>
<ul><ul>↳ Click save to create a new Image element</ul></ul>

<h4><li>NAVIGATION IN CANVAS</li></h4>
<ul><ul>↳ Double click on an element to start start editing the element</ul></ul>
<ul><ul>↳ You can move the element by dragging it</ul></ul>
<ul><ul>↳ Ok so basically its just like moving elements in Microsoft paint. Never heard of it? Oh, you only use Mac? Kindly Leave.</ul></ul>

<h4><li>RIGHT SIDE-BAR</li></h4>
<ul><ul>↳ Click on the element to start editing it.</ul></ul>
<ul><ul>↳ Double Click the element to Delete it.</ul></ul>

<%- include('../partials/footer.ejs')  %> 