<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK 3</title>
    <link rel="shortcut icon"  type="image/png" href="/images/festemberlogo (2).png">
    <link rel="stylesheet" href="/stylesheets/common.css" >
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/811fd0718a.js" crossorigin="anonymous"></script>
    <style>
      #started {
        font-size: 30px;
        padding: 15px;
        animation-delay: 5s;
        animation: lightbox 3s infinite;
        animation-delay: 5s;
        border-style: solid;
        border-width: 1px;
        text-decoration: none;
        color: #231723;
      }
      div.header > .heading > span {
        color: #231723;
      }
    </style>
</head>
<body style="background-color: #231723;">
    <!-- navbar - normal size -->
    <div class="header" style="height: 30vmax;">
        <div class="heading" >
            <span>Y</span><span>O</span><span>U</span><span>'</span><span>R</span><span>E</span><span>❤</span>
            <span>I</span><span>N</span><span>V</span><span>I</span><span>T</span><span>E</span><span>D</span>
        </div>
        <p class="subheading" style="color: #231723; margin-bottom: 80px;">Get connected with all your friends and plan parties</p>
        <a href="./user/login" class="subheading" id="started">START YOUR JOURNEY <i class="fas fa-glass-cheers"></i> </a>
      </div>
 
<%- include('partials/footer.ejs')  %> 